.search-container {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 6px 10px;
  border-radius: 24px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  gap: 8px;
  width: 350px;
  transition: box-shadow 0.2s ease-in-out;
}

.search-container:focus-within {
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 6px;
}

.search-btn {
  /*background: #0064d2;*/
  border: none;
  color: white;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-btn:hover {
  background: #0654ba;
}
