@charset "UTF-8";

a {
	color: blue; 
}

.member-signin {
	display: flex;
	justify-content: flex-end; 
}

.radio-buttons {
	display: flex;
}

.name-input {
	display: flex; 
}

body {
	background-color: skyblue; 
}