@charset "UTF-8";

a {
	color: blue; 
}

h1 {
	font-family: "Market Sans", Arial, sans-serif;
	text-align: center; 
}

.member-signin {
	display: flex;
	justify-content: flex-end; 
}

.radio-buttons {
	display: flex;
	margin: 0 auto; 
	width: 17%;
}

input[type="radio"]{
  margin: 0 10px 0 20px;
}

form {
	width: 15%;
	margin: 0 auto; 
}

.name-input {
	display: flex; 
	justify-content: space-between; 
}

body {
	background-color: skyblue; 
}