<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>eBay</display-name>
	
	<!-- Building Login Form Application using Spring MVC -->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Home</servlet-name>
		<jsp-file>/WEB-INF/view/Home.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/ebay.com/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Profile</servlet-name>
		<jsp-file>/WEB-INF/view/My_Profile.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>Profile</servlet-name>
		<url-pattern>/profile</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Splash</servlet-name>
		<jsp-file>/WEB-INF/view/Splash.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>Splash</servlet-name>
		<url-pattern>/splash</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Sign_out_controller</servlet-name>
		<jsp-file>/profile/controller/Sign_out_controller.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>Sign_out_controller</servlet-name>
		<url-pattern>/signoutcontroller</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.css</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.js</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.png</url-pattern>
	</servlet-mapping>
	
	

</web-app>

